<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <TITLE>HBNB</TITLE>
    </HEAD>
    <BODY>
        <H1>States</H1>
        <UL>
            {% for key in data_state.keys()|sort(attribute='name') %}
                <LI>{{ data_state[key].id }}: <B>{{ data_state[key].name }}</B>
                    {% if data_state[key].cities|length > 0 %}
                        <UL>
                            {% for city in data_state[key].cities|sort(attribute='name') %}
                                <LI>{{ city.id }}: <B>{{ city.name }}</B></LI>
                            {% endfor %}
                        </UL>
                    {% endif %}
                </LI>
            {% endfor %}
        </UL>
    </BODY>
</HTML>
