<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <TITLE>HBNB</TITLE>
    </HEAD>
    <BODY>
        {% if data %}
            <H1>State: {{ data.name }}</H1>
            <H3>Cities:</H3>
            {% if data.cities|length > 0 %}
                <UL>
                    {% for city in data.cities|sort(attribute='name') %}
                        <LI>{{ city.id }}: <B>{{ city.name }}</B></LI>
                    {% endfor %}
                </UL>
            {% endif %}
        {% else %}
            <H1>Not found!</H1>
        {% endif %}
    </BODY>
</HTML>
